<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1>The Intelligent Buyer Saves</h1>
      <p>One Place for All Car Purchasing</p>
      <ul>
        <li>Real-time dealer pricing for new & used vehicles</li>
        <li>Quick pre-approval credit application</li>
        <li>Quote protection packages & extended warranties</li>
        <li>Get estimates on insurance</li>
        <li>Trade-in value for your used car</li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
   
    <div class="col-4 text-center">
      <button class="btn btn-primary btn-block" (click)="navigateTo('get-car')">Get Car by ID</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary btn-block" (click)="navigateTo('delete-car')">Delete Car by ID</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-primary btn-block" (click)="navigateTo('all-cars')">Get All Cars</button>
    </div>
    <div class="col-4 text-center mt-3">
      <button class="btn btn-primary btn-block" (click)="navigateTo('top-n-cars')">Find Top N Cars</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>